@model  PagedList.IPagedList<ConceptMaker.Models.Ingredient>
@using PagedList.Mvc;
@{
    /**/

    ViewBag.Title = "ChoseIngredients";
}

<div class="jumbotron">
    <h1>Konfigurujemy</h1>
</div>
<h2>część 3  ostatnia </h2>
<h2> Elementy które pasują do wybranej instancji : </h2>

@using (Html.BeginForm("ChoseIngredients", "MakeConcept", FormMethod.Get))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>
        Szukaj po nazwie: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Szukaj" />
    </p>

}
@if (!Model.Any()){ 
<h2>Niestety nie odnaleziono nic pasującego do tej instancji :( </h2>
@Html.ActionLink("Powrót do ponownego wyboru ->", "Index")
}
<table class="table">

    <table class="table">
        <tr>
            <th>

                @Html.ActionLink("Naza instancji bazowej", "ChoseIngredients", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
               

            </th>
            <th>
                Wybór akcji:
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseInstance.Name)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubInstance.Name)
                </td>

                <td>
                    @Html.ActionLink("Powrót do ponownego wyboru ->", "SendMail", new { id = item.Id })

                </td>
            </tr>
        }
    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))






