@model ConceptMaker.Models.Ingredient

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Skladowe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseInstance.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseInstance.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Component.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Component.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubInstance.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubInstance.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfIngredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfIngredients)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
