@model IEnumerable<ConceptMaker.Models.Ingredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Stworz nowe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseInstance.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Component.ComponentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubInstance.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfIngredients)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseInstance.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Component.ComponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubInstance.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfIngredients)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detale", "Details", new { id = item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
